<% content_for :header do %>
  <%= javascript_include_tag 'contato' %>  
<% end %>
			
<div id="contato">
	<div class="wrapper_topo">
		<div class="mensagem">
			<h2><%= t 'contato.titulo' %></h2>
			<h3><%= t 'contato.subtitulo' %></h3>
			<div id="pa" class="parallax">
				<%= image_tag('contato_back.png',:class=>'img_effect parallax-layer fundo_globo');  %>
				<%= image_tag('circulo_contato.png',:class=>'circulo_contato parallax-layer');  %>	
				<span>Estamos aqui</span>
			</div>
		</div>
	</div>
	<div class="wrapper_contato">
		<div class="contato_informacoes">
			<div class="contato_info_desc">
				<h2><%= t 'contato.skype' %></h2>
				<h3><a href="skype:atendimento.proiz?add">atendimento.proiz</a></h3>
			</div>
			<div class="contato_info_desc">
				<h2><%= t 'contato.email' %></h2>
				<h3>atendimento@proiz.com.br</h3>
			</div>
			<div class="contato_info_desc">
				<h2><%= t 'contato.telefone' %></h2>
				<h3 class="telefone"><a href="skype:+55 (45) 3378-3676?call">+55 (45) 3378-3676</a></h3>
			</div>
		</div>						
		<hr />
		<div class="contato_formulario formulario_padrao_1">
			<h1><%= t 'contato.form_titulo' %></h1>			
			<%= form_tag({controller: 'contato', action: 'contato'}, :id => 'form_contato',
						method: "get", class: 'formulario_padrao_1', :remote => true) do %>
				<div class="form_item">										
					<%= text_field_tag :nome, params[:nome], placeholder: t('contato.form_nome') %>							
				</div>
				<div class="form_item">	
					<%= text_field_tag :email, params[:email] , placeholder: t('contato.form_email')%>					
				</div>
				<div class="form_item">					
					<%= text_field_tag "telefone", nil, placeholder: t('contato.form_telefone') %>												
				</div>
				<div class="form_item">					
					<%= text_area_tag "mensagem", nil, placeholder: t('contato.form_mensagem') %>							
				</div>				
				<%= submit_tag(t('contato.form_botao', :class => 'botao_submit')) %>
			<% end %>
		</div>
	</div>
</div>

<div id="intervalo4" class="intervalo">
</div>
