<!--<% content_for :header do %>
  <%= javascript_include_tag 'inicial' %>  
<% end %>-->
<div id="home_intro" class="wrapper">
	<div class="home_wrapper">
		<h1>
			
			<span><p class="amarelo"><%= t 'inicial.topo.criar' %></p><p class="cinza">,</p></span>
			<span><p class="azul"><%= t 'inicial.topo.evoluir' %></p></span> 
			<span><p class="cinza"><%= t 'inicial.topo.e' %>&nbsp;</p><p class="verde"> <%= t 'inicial.topo.transformar' %></p><p class="cinza">.</p></span>
		</h1>
		<div class="mensagem">
			<div class="continue">
				<div class="circulo">
					<%= image_tag('home_seta.png')%>			
				</div>
			</div>
			<div class="somos">
				<h4>
					<%= t 'inicial.topo.mensagem' %>
				</h4>
			</div>
		</div>
	</div>
</div>
<div id="intervalo1" class="intervalo">
</div>

<div id="home_trabalhos" class="">
	<div class="trabalhos_recentes">
		<div class="trabalhos_recentes_content">
			<h2><%= t 'inicial.trabalhos.titulo' %></h2>
			<div class="mais_trabalhos">
				<div class="bt_padrao1" data-no-turbolink>
					<%= link_to trabalhos_path do %>
						<div class="circulo">
							<span></span>
						</div>
						<div class="mensagem">
							<p><%= t('inicial.trabalhos.botao') %></p>
						</div>
					<% end %>
				</div>
			</div>
		</div>
		<div class="bt_esconder">
			<a href="#">esconder</a>
		</div>
	</div>
	<div class="projetos_slider" id="projetos_slider">
		<div class="slider_imagens">
			<ul>
				<% @trabalhos.each do |trab| %>
					<% if trab.imagem_principal.file? %>
						<li data-no-turbolink>
							<%= image_tag(trab.imagem_principal.url, :class => 'imagem_slide')%>
							<div class="descricao_item">
								<h2><%= trab.descricao_principal %></h2>
							</div>
							<%= link_to trabalho_path(trab), :title => '' do %>
								<span><p><%= image_tag('ver_projeto.png')%></p></span>
							<% end %>
						</li>
					<% end %>
				<% end %>				
			</ul>
		</div>
		<style>
	      #home_trabalhos .projetos_slider .slider_menu {
	       padding: 25px 0px;
	      }
	      .range {
	       -webkit-appearance: none;
	       background-color: #8DC63F;
	       width: 17px;
	       height: 17px;
	       border-radius: 50%;
	       box-shadow: 0px 0px 0px 7px #004961;
	       position: absolute;
	       margin: -5px 0px;
	       cursor: pointer;
	      }
	      #home_trabalhos .projetos_slider .slider_menu span {
	      	margin-left: 0px;
	      	width: 100%;
	      }
	      #home_trabalhos .projetos_slider .slider_imagens ul {
	      	-webkit-transition: none;
	      }
	      #container_range {
	      	width: 95%;
	      	position: relative;
			margin: 0 auto;
	      }
     	</style>
		<div class="slider_menu">
			<div id="container_range">
		       <span></span>
		       <div class="range"></div>
		    </div>
		</div>
	</div>
</div>
<div id="intervalo2" class="intervalo">
</div>

<div id="home_comotrabalhamos" class="">
	
	<div class="trabalhamos_2 mostrar">
		<div class="trabalho-item">
			<div class="tb-info">
				<div class="tb-info-frente">
					<span class="circulo">
					</span>
					<span class="texto">
						<h4><%= t 'inicial.servicos.design_titulo' %></h4>
						<hr>
					</span>	
				</div>
				<div class="tb-info-tras">
					<span class="titulo">
						<h4><%= t 'inicial.servicos.design_titulo' %></h4>
					</span>
					<span class="texto">
						<p><%= t 'inicial.servicos.design_texto' %> </p>
					</span>
					<span class="voltar">
						  <%= image_tag('home_seta.png') %>
						</span>
				</div>
			</div>
		</div>
	</div>
	<div class="trabalhamos_3 mostrar">
		<div class="trabalho-item">
			<div class="tb-info">
				<div class="tb-info-frente">
					<span class="circulo">
					</span>
					<span class="texto">
						<h4><%= t 'inicial.servicos.marketing_titulo' %></h4>
						<hr>
					</span>	
				</div>
				<div class="tb-info-tras">
					<span class="titulo">
						<h4><%= t 'inicial.servicos.marketing_titulo' %></h4>
					</span>
					<span class="texto">
						<p><%= t 'inicial.servicos.marketing_texto' %> </p>
					</span>
					<span class="voltar">
					  <%= image_tag('home_seta.png') %>
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class="trabalhamos_4 mostrar">
		<div class="trabalho-item">
			<div class="tb-info">
				<div class="tb-info-frente">
					<span class="circulo">
					</span>
					<span class="texto">
						<h4><%= t 'inicial.servicos.publicidade_titulo' %></h4>
						<hr>
					</span>	
				</div>
				<div class="tb-info-tras">
					<span class="titulo">
						<h4><%= t 'inicial.servicos.publicidade_titulo' %></h4>
					</span>
					<span class="texto">
						<p><%= t 'inicial.servicos.publicidade_texto' %></p>
					</span>
					<span class="voltar">
					  <%= image_tag('home_seta.png') %>
					</span>
				</div>
			</div>
		</div>
	</div>	
	<div class="trabalhamos_1">
		<div class="inner">
			<h3><%= t 'inicial.servicos.titulo' %></h3>
			<p><%= t 'inicial.servicos.subtitulo' %></p>
			 
            <div  class="botao" data-no-turbolink>
				<%= link_to especialidades_path, :title => '', :class => "botao_padrao2" do %>
					<%= t('inicial.servicos.botao') %>
				<% end %>
			</div>
		</div>
	</div>		
</div>
<div id="intervalo3" class="intervalo">
</div>

<div id="home_noticias" class="wrapper__">
	<div class="noticias">
		<h1><%= t 'inicial.noticias.titulo' %></h1>
		<% @noticias.each do |item| %>
			<div class="item_noticia">
				<hr class="linha_verde"/>
				<h5><%= I18n.l item.created_at, :format => :curto %></h5>
				<p><a href="" class="link_noticia"><%= item.titulo %></a></p>
				<div class="wrapper_icon_noticias" data-no-turbolink>
		            <%= link_to '', noticia_path(item), :class => 'continue_lendo'%>
		            <div class="compartilhar_noticia">
		            	<%= fb_share('1501616463400377',noticia_url(item),'compartilhar_face rede_social',{}) %>
                              
						<%= google_share(noticia_url(item),'compartilhar_google rede_social') %>
						
						<%= twitter_share(noticia_url(item), 'compartilhar_twitter rede_social') %>
					</div>
				</div>
			</div>
		<% end %>
		
		<div id="" class="bt_padrao1 botao_noticias">
			<a href="#">
				<div class="circulo">
					<span></span>
				</div>
				<div class="mensagem">
					<p><%= t 'inicial.noticias.botao' %></p>
				</div>
			</a>
		</div>
	</div>
</div>
<div id="intervalo4" class="intervalo">
</div>