<div class="form_imagens item_many form_many">
	<%= f.hidden_field :ordem, :class => 'ordem_imagem' %>
	<%= f.hidden_field(:id) %>
	<div class="imagem_upload">
		<div class="imagem">
			<div class="img_selecionada"></div>
				<%= #else
					image_tag f.object.image.url if !novo
				#end 
				%>
				<h4><%= 
				if novo
					f.file_field :image, :onchange => 'preview_imagem(this)'
				else
					f.file_field :image, :onchange => 'preview_imagem2(this)', disabled: 'disabled', :class => 'bloqueado'
				end 
				%>
				</h4>
				<p class="caminho"></p>
			
		</div>
		<div class="descricao <%= novo == false ? 'bloqueado' : '' %>">
			<%=
				if novo == true
					f.text_area :descricao, :class => ''					
				else
			 		f.cktext_area :descricao, disabled: 'disabled', :class => ''	
			 	end 
			 %>
		</div>
		<div class="ordem <%= 'escondido' if novo %> <%= 'bloqueado' if !novo %>">
			<%= link_to_function('','subir_nivel(this)', :class => 'up') %>
			<%= link_to_function('','descer_nivel(this)', :class => 'down') %>
			<%= link_to_remove_fields '', f if !novo %>	
		</div>
	</div>
	<%= 
	#if novo == true
		link_to_adicionar_foto "Adicionar", f if novo 
	#else
		
	#end
	%>
</div>
