<div class="form_imagens item_many form_many">
	<%= f.hidden_field :ordem, :class => 'ordem_imagem' %>
	<%= f.hidden_field(:id) %>
	<% if novo %>
	<div class="imagem_upload">
		<div class="imagem">
			<div class="img_selecionada"></div>
				<h4><%= f.file_field :image, :onchange => 'preview_imagem(this)' %>	</h4>
				<p class="caminho"></p>
		</div>
		<div class="descricao">
			<%=	f.text_area :descricao %>
		</div>
		<div class="ordem <%= 'escondido' if novo %> <%= 'bloqueado' if !novo %>">
			<%= link_to_function('','subir_nivel(this)', :class => 'up') %>
			<%= link_to_function('','descer_nivel(this)', :class => 'down') %>
			<%= link_to_remove_fields '', f if !novo %>	
		</div>
	</div>
	<%= 
		link_to_adicionar_foto "Adicionar", f
	%>	
	
	<% else %>
	<div class="imagem_upload">
		<div class="imagem">
			<div class="img_selecionada"></div>
				<%=
					image_tag f.object.image.url
				%>
				<h4>
				<%=
					f.file_field :image, :onchange => 'preview_imagem2(this)', disabled: 'disabled', :class => 'bloqueado'
				%>
				</h4>
				<p class="caminho"></p>
		</div>
		<div class="descricao bloqueado%>">
			<%=
			 		f.text_area :descricao, disabled: 'disabled' 
			 %>
		</div>
		<div class="ordem <%= 'escondido' if novo %> <%= 'bloqueado' if !novo %>">
			<%= link_to_function('','subir_nivel(this)', :class => 'up') %>
			<%= link_to_function('','descer_nivel(this)', :class => 'down') %>
			<%= link_to_remove_fields '', f if !novo %>	
		</div>
	</div>
		
	
	<% end %>
</div>
