<% if @cliente.errors.any? %>
	<div class="error_messages">
		<h2>Form is invalid</h2>
		<ul>
			<% for message in @cliente.errors.full_messages %>
				<li><%= message %></li>
			<% end %>
		</ul>
	</div>
<% end %>
<%= form_for(@cliente,remote:true) do |c| %>
	<div class="item_info_detalhe">
		<h5><%= c.label :nome %></h5>
		<h4><%= c.text_field :nome%></h4>
	</div>
	<div class="item_info_detalhe">
		<h5><%= c.label :descricao %></h5>
		<h4><%= c.text_field :descricao %></h4>
	</div>
	<div class="item_info_detalhe">
		<h5><%= c.label :url_site %></h5>
		<h4><%= c.text_field :url_site %></h4>
	</div>

<div class="item_info_botoes">
	<%= link_to "Limpar alterações", clientes_path, :remote => true, :class => "link_limpar" %>
	<%= link_to "Salvar alterações", @cliente, :remote => true, :class => "link_salvar", :method => :patch %>
	<%= c.submit%>
</div>

<% end %>
