<% content_for :header do %>
  <%= javascript_include_tag 'especialidades' %>  
<% end %>
	<div id="especialidades">
		<div class="titulo_padrao_1">
			<h1><%= t 'especialidades.titulo' %></h1>
		</div>
		<div class="wrapper_especialidades">
			<div class="especialidades_items">
				<div class="wrapper_items">
					
					<% @especialidades.each do |e| %>						
						<div class="item">
							<div class="item-child">
								<span class="item-child-span">
									<%= image_tag(e.imagem_principal.url, :id => e.id, :data => { desc: e.titulo}) %>
								</span>
								<p><%= e.titulo %></p>
								<div class="wrapper-descricao" data-id="<%= e.id %>">
									<div class="descricao">
										<a href="#" class="fechar">X</a>
										<%= image_tag(e.imagem_principal.url, :id => e.id, :data => { :desc => e.titulo}) %>
										<div class="descricao-texto">
											<h3><%= e.titulo %> </h3>
											<p> <%= e.conteudo %> </p>
											<h4>Projetos em que já aplicamos a especialidades:</h4>
											<a href="#">Traalho 1</a>
											<a href="#">Traalho 1</a>
										</div>
									</div>
								</div>
							</div>
						</div>													
					<% end %>				
							
				</div>
			</div>
			
			<div class="especialidades_drag_items_min">
				<div class="wrapper_items"></div>
			</div>
			
			<div id="drag_here" class="especialidades_drag_items">
				<div class="wrapper_items"></div>
			</div>
			
			<div class="especialidades_formulario">
				<div class="especialidades_selecionadas">
					<h3>Especialidades selecionadas</h3>
					<ul>
								
					</ul>
				</div>
				
				<div class="especialidades_formulario_envio">
					<h3>Informações para contato</h3>
					<%= form_tag({controller: 'especialidades', action: 'contato'}, 
						method: "get", class: 'formulario_padrao_1', :remote => true) do %>
						<div class="form_item">	
							<%= text_field_tag :nome, params[:nome] , :placeholder => '*Nome' %>
						</div>
						<div class="form_item">	
							<%= text_field_tag :sobrenome, params[:sobrenome] , :placeholder => '*Sobrenome' %>
						</div>
						<div class="form_item">
							<%= text_field_tag :email, params[:email] , :placeholder => '*Email' %>
						</div>
						<div class="form_item">
							<%= text_field_tag :telefone, params[:telefone] , :placeholder => '*Telefone' %>
						</div>						
						<p>*Campos obrigatorios</p>
						<%= submit_tag("Enviar", :class => 'botao_submit_2') %>
					<% end %>
				</div>
				
			</div>
			
		</div>
	</div>
	
	<div id="intervalo4" class="intervalo"> </div>
	
	
