<div class="formulario">
	<div class="item">
		<%= form_for([:admin,@especialidade],:html => { :multipart => true }, :multiple => true ) do |e| %>
			<h3 class="titulo">Nova especialidade
			<% if @editando == true %>
				<p class="editando">Editando... Não esqueça de salvar as alterações no fim do box</p>
			<% end %>
			</h3>
			<% if @especialidade.errors.any? %>
				<div id="erros">
					<div class="erros_info">
						<h2>Atenção</h2><br/>
						<h4>Você não preencheu todas as informações necessárias.</h4>
						<ul>
							<% for message in @especialidade.errors.full_messages %>
								<li><%= message %></li>
							<% end %>
						</ul>
						<div class="item_info_botoes">
							<h3>O que você gostaria de fazer? </h3>
							<%= link_to "Cancelar e sair", admin_especialidades_path, :class => "link_limpar" %>
							<a id="fechar" href="#" class="link_salvar fechar">Voltar e preencher</a>
						</div>
					</div>
				</div>
			<% end %>
			<a href="#" class="fechar"></a>
			<a href="#" class="esconder"></a>
			
			<div class="item_info" id="especialidade_">
				
				<div class="item_info_detalhe" id="1">
					<h5><%= e.label :titulo %></h5>
					<h4 class='<%= 'bloqueado' if @editando %>'><%= e.text_field :titulo, :disabled => @editando %></h4>
					<%= link_to_function("", "enable_field(this)",:class => 'bt_libera_editar') if @editando %>
				</div>
				
				<div class="item_info_detalhe">
					<h5><%= e.label :conteudo %></h5>
					<h4 class='<%= 'bloqueado' if @editando %>'>
						<%= e.text_area :conteudo, :disabled => @editando, :style => 'width:550px;' %>
					</h4>
					<%= link_to_function("", "enable_field(this)",:class => 'bt_libera_editar') if @editando %>
				</div>
					
				<div class="item_info_detalhe">
					<h5><%= e.label :status %></h5>
					<h4 class='<%= 'bloqueado' if @editando %>' style="width: 150px"><%= e.select(:status,[["Ativo","1"],["Inativo","0"]]) %></h4>
					<%= link_to_function("", "enable_field(this)",:class => 'bt_libera_editar') if @editando %>
				</div>
				
				<div class="item_info_detalhe wrapper_imagem imagem">
					<h5><%= e.label 'Imagem principal' %></h5>
					<div class="imagem_logo preview_image img_selecionada">
						<%= image_tag(@especialidade.imagem_principal.url) if @especialidade.imagem_principal %>
					</div>
					<h4 class='<%= 'bloqueado' if @editando %>'><%= e.file_field :imagem_principal, :onchange => "preview_image(this)" %></h4>
					<%= link_to_function("", "enable_field(this)",:class => 'bt_libera_editar') if @editando %>
				</div>
				
				<div class="item_info_botoes">
					<% if @editando == true %>
						<%= link_to "Limpar alterações", admin_especialidades_path,
						:method => 'get',
						:confirm => 'Descartar alterações',
						:data => {:'message' => "Você está prestes a descartas as informações aditadas, tem certeza?"},
						:class => "link_limpar" %>
						<%= e.submit 'Salvar alterações', 
						:confirm => 'Salvando alterações',
						:data => {:'message' => "Você está prestes a alterar as informações aditadas."},
						:class =>'link_salvar link_editando' %>
					<% else %>
						<%= e.submit "Salvar", :class => "link_salvar" %>
					<% end %>
				</div>	
				
			</div>
		<% end %>
	</div>
</div>
