<div class="formulario lista_cadastrados">
	<div class="item">
		<%= form_for([:admin,@cliente], :html => { :multipart => true }, :multiple => true ) do |c| %>
			<h3 class="titulo">Novo cliente
			<% if @editando == true %>
				<p class="editando">Editando... Não esqueça de salvar as alterações no fim do box</p>
			<% end %>
			</h3>
			<% if @cliente.errors.any? %>
				<div id="erros">
					<div class="erros_info">
						<h2>Atenção</h2><br/>
						<h4>Você não preencheu todas as informações necessárias.</h4>
						<ul>
							<% for message in @cliente.errors.full_messages %>
								<li><%= message %></li>
							<% end %>
						</ul>
						<div class="item_info_botoes">
							<h3>O que você gostaria de fazer? </h3>
							<%= link_to "Cancelar e sair", admin_clientes_path, :class => "link_limpar" %>
							<a id="fechar" href="#" class="link_salvar fechar">Voltar e preencher</a>
						</div>
					</div>
				</div>
			<% end %>
			<a href="#" class="fechar"></a>
			<a href="#" class="esconder"></a>
			<div class="item_info" id="clienteform">
				
				<div class="item_info_detalhe" id="1">
					<h5><%= c.label :nome %></h5>					
					<h4 class='<%= 'bloqueado' if @editando %>'><%= c.text_field :nome, :disabled => @editando %></h4>
					<%= link_to_function("", "enable_field(this)",:class => 'bt_libera_editar') if @editando %>
				</div>
				<div class="item_info_detalhe">
					<h5><%= c.label :descricao %></h5>
					<h4 class='<%= 'bloqueado' if @editando %>'><%= c.text_field :descricao, :disabled => @editando %></h4>
					<%= link_to_function("", "enable_field(this)",:class => 'bt_libera_editar') if @editando %>
				</div>
				<div class="item_info_detalhe">
					<h5><%= c.label :url_site %></h5>
					<h4 class='<%= 'bloqueado' if @editando %>'><%= c.text_field :url_site, :disabled => @editando %></h4>
					<%= link_to_function("", "enable_field(this)",:class => 'bt_libera_editar') if @editando %>
				</div>
				<div class="item_info_detalhe">
					<h5><%= c.label :status %></h5>
					<h4 style="width: 150px"><%= c.select(:status,[["Ativo","1"],["Inativo","0"]]) %></h4>
					<%= link_to_function("", "enable_field(this)",:class => 'bt_libera_editar') if @editando %>
				</div>
				<div class="item_info_detalhe wrapper_imagem imagem">					
					<h5><%= c.label 'Imagem de miniatura' %></h5>
					<div class="imagem_logo preview_image img_selecionada">
						<%= image_tag(@cliente.logo.url) if @cliente.logo %>
					</div>
					<h4 class='<%= 'bloqueado' if @editando %>'><%= c.file_field :logo, :onchange => "preview_image(this)" %></h4>
					<%= link_to_function("", "enable_field(this)",:class => 'bt_libera_editar') if @editando %>
				</div>
				
				<div class="item_info_botoes">
					<% if @editando == true %>
						<%= link_to "Limpar alterações", admin_clientes_path,
						:method => 'get',
						:confirm => 'Descartar alterações',
						:data => {:'message' => "Você está prestes a descartas as informações aditadas, tem certeza?"},
						:class => "link_limpar" %>
						<%= c.submit 'Salvar alterações', 
						:confirm => 'Salvando alterações',
						:data => {:'message' => "Você está prestes a alterar as informações aditadas."},
						:class =>'link_salvar link_editando'%>
					<% else %>
						<%= c.submit 'Salvar', :class =>'link_salvar' %>
					<% end %>
				</div>
			</div>
		<% end %>
	</div>
</div>
