<div class="formulario">
	<div class="item">
		<%= form_for([:admin,@cliente], :html => { :multipart => true }, :path => "/admin/clientes") do |c| %>
			<h3 class="titulo">Novo cliente
			<% if @editando == true %>
				<p class="editando">Editando... Não esqueça de salvar as alterações no fim do box</p>
			<% end %>
			</h3>
			<% if @cliente.errors.any? %>
				<div id="erros">
					<div class="erros_info">
						<h2>Atenção</h2><br/>
						<h4>Você não preencheu todas as informações necessárias.</h4>
						<ul>
							<% for message in @cliente.errors.full_messages %>
								<li><%= message %></li>
							<% end %>
						</ul>
						<div class="item_info_botoes">
							<h3>O que você gostaria de fazer? </h3>
							<%= link_to "Cancelar e sair", clientes_path, :remote => true, :class => "link_limpar" %>
							<a id="fechar" href="#" class="link_salvar fechar">Voltar e preencher</a>
						</div>
					</div>
				</div>
			<% end %>
			<a href="#" class="link_excluir"></a>
			<a href="#" class="link_editar"></a>
			<div class="item_info" id="cliente_">
				
				<div class="item_info_detalhe">
					<h5><%= c.label :nome %></h5>
					<h4><%= c.text_field :nome%></h4>
				</div>
				<div class="item_info_detalhe">
					<h5><%= c.label :descricao %></h5>
					<h4><%= c.text_field :descricao %></h4>
				</div>
				<div class="item_info_detalhe">
					<h5><%= c.label :url_site %></h5>
					<h4><%= c.text_field :url_site %></h4>
				</div>
				<div class="item_info_detalhe">
					<h5><%= c.label :status %></h5>
					<h4><%= c.select(:status,[["Ativo","1"],["Inativo","0"]]) %></h4>
				</div>
				<div class="item_info_detalhe wrapper_imagem">
					<h5><%= c.label 'Logo do cliente' %></h5>
					<div class="imagem_logo">
						<%= image_tag(@cliente.logo.url) if @cliente.logo %>
					</div>
					<h4><%= c.file_field :logo %></h4>
					
					
				</div>
				
				<div class="item_info_botoes">
					<% if @editando == true %>
						<%= link_to "Limpar alterações", admin_clientes_path,
						:method => 'get',
						:confirm => 'Descartar alterações',
						:data => {:'message' => "Você está prestes a descartas as informações aditadas, tem certeza?"},
						:class => "link_limpar" %>
						<%= c.submit 'Salvar alterações', 
						:confirm => 'Salvando alterações',
						:data => {:'message' => "Você está prestes a alterar as informações aditadas."},
						:class =>'link_salvar link_editando'%>
					<% else %>
						<%= c.submit 'Salvar', :class =>'link_salvar' %>
					<% end %>
				</div>
			</div>
		<% end %>
	</div>
</div>

<!--<h1>Formulario de cadastro de novo cliente</h1>
<%= form_for(@cliente,remote:true) do |c| %>
	<% if @cliente.errors.any? %>
		<div class="error_messages">
			<h2>Form is invalid</h2>
			<ul>
				<% for message in @cliente.errors.full_messages %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<div class="item_info_detalhe">
		<h5><%= c.label :nome %></h5>
		<h4><%= c.text_field :nome%></h4>
	</div>
	<div class="item_info_detalhe">
		<h5><%= c.label :descricao %></h5>
		<h4><%= c.text_field :descricao %></h4>
	</div>
	<div class="item_info_detalhe">
		<h5><%= c.label :url_site %></h5>
		<h4><%= c.text_field :url_site %></h4>
	</div>
	
	<p class="button"><%= c.submit %></p>

<% end %>
>