<div class="lista_cadastrados">
	<h4 class="titulo">
		Clientes Cadastrados
	</h4>
	<table>
		<tr>
			<th>Nome</th>
			<th>Descricao</th>
			<th>Data de criacao</th>
			<th>Url do site</th>
			<th>Estado</th>
			<th>Ação</th>
		</tr>
		<% @clientes.each do |cliente| %>
			<tr class="item" id="cliente_<%= cliente.id %>">
				<td style="width: 30%;";>
					<%= cliente.nome %>
				</td>
				<td>
					<%= cliente.descricao %>
				</td>
				<td>
					<%= cliente.created_at.to_s(:create) %>
				</td>
				<td>
					<%= cliente.url_site %>
				</td>
				<td>
					<!--<%= (cliente.status == 1 ? "Ativo" : "Inativo") %>-->
					<%= link_to '', 
					mudarstatus_admin_cliente_path(cliente), 
					:class => cliente.status == 1 ? 'status_ativo' : 'status_inativo', 
					:confirm => 'Alterar status',
					:method => 'get',
					:data => {:'message' => "Você está prestes a altear o status deste cliente."}  %>
				</td>
				
				<td>					
					<%= link_to "", edit_admin_cliente_path(cliente), :class => 'bt_editar_1 tooltips', :title => "Editar item"%>
					<%= link_to "", [:admin,cliente], :remote => true, 
					:confirm => 'Excluir',
					:data => {:'message' => "Você está prestes a excluir este cliente?"},
					:method => :delete,
					:class => 'bt_excluir_1 tooltips',
					:title => 'Excluir item'%>
				</td>
			</tr>
		<% end %>
	</table>
</div>
