<div class="lista_cadastrados">
	<h4 class="titulo">
		Categorias de trabalhos Cadastrados
	</h4>
	<table>
		<tr>
			<th>Titulo</th>
			<th>Data de criacao</th>
			<th>Estatus</th>
			<th>Ação</th>
		</tr>
		<% if @categorias %>
			<% @categorias.each do |categoria| %>
				<tr class="item" id="categoriatrabalho_<%= categoria.id %>">
					<td>
						<%= categoria.titulo %>
					</td>
					<td>
						<%= categoria.created_at.to_s(:create) %>
					</td>
					<td>
						<%= categoria.status %>
					</td>
					<td>
						<%= link_to categoria.status == 1 ? 'Ativo' : 'Inativo', 
						mudarstatus_categoriatrabalho_path(categoria), 
						:confirm => 'Alterar status',
						:data => {:'message' => "Você está prestes a altear o status desta categoria."},
						:remote => true  %>
					</td>
					<td>
						<%= link_to "T", edit_categoriatrabalho_path(categoria), :remote => true, 
						:class => 'link_editar'%>
						<%= link_to "X", categoria, :remote => true, 
						:confirm => 'Excluir categoria',
						:data => {:'message' => "Você está prestes a excluir esta categoria."},
						:method => :delete,
						:class => 'link_excluir'%>
					</td>
				</tr>
			<% end %>
		<% end %>
	</table>
</div>