<div class="wrapper_noticia_destaque">
	<div class="noticia_destaque">
		<div class="categorias">
			<h5><%= t('noticias.categorias')%></h5>
			<div class="wrapper_categorias">
			<ul>
				<li class=""><%= link_to t('noticias.todas'), filtrar_noticia_path(0), :remote => true %></li>
				<% @categorias.each do |cat| %>					
					<li><%= link_to cat.titulo, filtrar_noticia_path(cat),  :remote => true %></li>
				<% end %>
			</ul>
			</div>
		</div>
		<div class="noticia_destaque_info">
			<%= link_to noticia_path(@destaque), :remote => true do %>
				<%= image_tag(@destaque.imagem_miniatura.url)%>
			<% end %>
			<p><%= link_to @destaque.titulo, noticia_path(@destaque), :remote => true %></p>
			
			<span><%= (strip_tags(@destaque.conteudo).mb_chars.limit(180).to_s).html_safe %> ...</span>
			<div class="ultimas_leiamais">
				<%= link_to '', noticia_path(@destaque), :class => 'link_noticias', :remote => true %>
			</div>			
		</div>
	</div>
	<div id="detalhe_modal" style="display:none;"></div>
</div>