
<div class="ultima_adicionada">
	<h4><%= I18n.l noticia.created_at, :format => :padrao %></h4>
	
	<%= link_to noticia_path(noticia), :remote => true do %>
		<%= image_tag(noticia.imagem_miniatura.url) %>
	<% end %>
	<h5><%= link_to noticia.titulo, noticia_path(noticia), :remote => true %></h5>
	<p><%= truncate(corrige_acentos(strip_tags(noticia.conteudo)), :length => 150) %></p>
	
	<div class="ultimas_leiamais">
		<%= link_to '', noticia_path(noticia), :class => 'link_noticias', :remote => true %>
	</div>
</div>