<!--
<div class="lista_cadastrados">
	<h4 class="titulo">
		Clientes Cadastrados
	</h4>
	<table>
		<tr>
			<th>Nome</th>
			<th>Email</th>
			<th>Data de criacao</th>
			<th>Estado</th>
			<th>Ação</th>
		</tr>
		<tr>
			<td>Luiz</td>
			<td>luyz@gmail.com</td>
			<td>10 de novembro de 2013</td>
			<td>Ativo</td>
			<td width="15%">X, E, N</td>
		</tr>
		<tr>
			<td>Luiz</td>
			<td>luyz@gmail.com</td>
			<td>10 de novembro de 2013</td>
			<td>Ativo</td>
			<td>X, E, N</td>
		</tr>
	</table>
</div>
<br/>-->
<div class="lista_cadastrados">
	<h4 class="titulo">
		Clientes Cadastrados
	</h4>
	<table>
		<tr>
			<th>Titulo</th>
			<th>Descricao</th>
			<th>Data de criacao</th>
			<th>Estatus</th>
			<th>Ação</th>
		</tr>
		<% @noticiacategs.each do |categoria| %>
			<tr id="categorianoticia_<%= categoria.id %>">
				<td><%= categoria.titulo %></td>
				<td><%= categoria.descricao %></td>
				<td>
					<%= categoria.created_at.to_s(:create) %>
				</td>
				<td><%= (categoria.status == 1 ? "Ativo" : "Inativo") %></td>
				<td>
					<%= link_to "T", edit_noticiacateg_path(categoria), :remote => true, :class => 'link_editar'%>
					<%= link_to "X", categoria, :remote => true, :confirm => 'Você tem certeza?', :method => :delete, :class => 'link_excluir'%>
				</td>
			</tr>
		<% end %>
	</table>	
</div>
