<h1>Cadastrar</h1>

<%= form_for(@user, remote: true) do |f| %> <!-- "remote: true" -> para fazer requisão ajax, para renderizar os erros do formulário na mesma div "detalhe_tabela" -->
	<p>
		<%= f.label :email %><br />
		<%= f.text_field :email %>
		<%= valida_form @user, :email %>		
	</p>
	<p>
		<%= f.label :password %><br />
		<%= f.password_field :password %>
		<%= valida_form @user, :password %>
	</p>
	<p>
		<%= f.label :password_confirmation %><br />
		<%= f.password_field :password_confirmation %>
		<%= valida_form @user, :password_confirmation %>
	</p>
	<p>
		<%= f.label :name %> <br />
		<%= f.text_field :name %>
		<%= valida_form @user, :name%>
	</p>
	<p>
		<%= f.label :status %><br />
		<%= f.select(:status,[["Ativo", "1"], ["Inativo", "0"]])%>
	</p>
	
	<p class="button"><%= f.submit %></p>
	
<% end %>
