<% content_for :header do %>
  <%= javascript_include_tag 'sobre' %>  
<% end %>
<div id="sobre">
	<div class="titulo_padrao_1">
		<h1><%= t('sobre.topo.titulo') %></h1>
	</div>
	
	
	<div class="wrapper_sobre">
		<div class="wrapper_sobre_info">
			<div class="sobre_info">
				<span id="sobre_titulo_mercury" data-mercury="full" >
				<h2><%= t('sobre.introducao.titulo') %></h2>
				</span>
				<p>
					<%= t('sobre.introducao.mensagem') %>
				</p>
			</div>
		</div>
		<div class="sobre_info_2">
			<div class="mensagem">
				<h1><%= t('sobre.sobre.titulo') %></h1>
			</div>
			<div class="item">
				<h4><%= t('sobre.sobre.design_titulo') %></h4>
				<p><%= t('sobre.sobre.design_texto') %></p>
			</div>
			<div class="item">
				<h4><%= t('sobre.sobre.marketing_titulo') %></h4>
				<p><%= t('sobre.sobre.marketing_texto') %></p>
			</div>
			<div class="item">
				<h4><%= t('sobre.sobre.publicidade_titulo') %></h4>
				<p><%= t('sobre.sobre.publicidade_texto') %></p>
			</div>
		</div>
		
		<div class="sobre_clientes">
			<h4><%= t('sobre.clientes.titulo') %></h4>
			<h5><%= t('sobre.clientes.mensagem') %></h5>
			<div class="wrapper_itens">
				<% @clientes.each do |cliente| %>
					<div class="item">
						<%= image_tag(cliente.logo)%>
					</div>							
				<% end %>
			</div>
		</div>
		
	</div>
<div id="intervalo4" class="intervalo">
</div>
