
<div class="formulario lista_cadastrados">
	<div class="item">
		<%= form_for([:admin,@noticia],:html => { :multipart => true }, :multiple => true ) do |c| %>
			<h3 class="titulo">Nova notícia
			<% if @editando == true %>
				<p class="editando">Editando... Não esqueça de salvar as alterações no fim do box</p>
			<% end %>
			</h3>
			<% if @noticia.errors.any? %>
				<div id="erros">
					<div class="erros_info">
						<h2>Atenção</h2><br/>
						<h4>Você não preencheu todas as informações necessárias.</h4>
						<ul>
							<% for message in @noticia.errors.full_messages %>
								<li><%= message %></li>
							<% end %>
						</ul>
						<div class="item_info_botoes">
							<h3>O que você gostaria de fazer? </h3>
							<%= link_to "Cancelar e sair", admin_noticias_path, :class => "link_limpar" %>
							<a id="fechar" href="#" class="link_salvar fechar">Voltar e preencher</a>
						</div>
					</div>
				</div>
			<% end %>
			<a href="#" class="fechar"></a>
			<a href="#" class="esconder"></a>
			<div class="item_info" id="noticiaform">
				<div class="item_info_detalhe" id="1">
					<h5><%= c.label :titulo %></h5>
					<h4 class='<%= 'bloqueado' if @editando %>'><%= c.text_field :titulo, :disabled => @editando %></h4>
					<%= link_to_function("", "enable_field(this)",:class => 'bt_libera_editar') if @editando %>
				</div>
				
				<div class="item_info_detalhe wrapper_imagem imagem">
					<h5><%= c.label 'Imagem de miniatura' %></h5>
					<div class="imagem_logo preview_image img_selecionada">
						<%= image_tag(@noticia.imagem_miniatura.url) if @noticia.imagem_miniatura %>
					</div>
					<h4 class='<%= 'bloqueado' if @editando %>'><%= c.file_field :imagem_miniatura, :onchange => "preview_image(this)" %></h4>
					<%= link_to_function("", "enable_field(this)",:class => 'bt_libera_editar') if @editando %>
				</div>
				
				<div class="item_info_detalhe">
					<h5><%= c.label :conteudo %></h5>
					<h4 class='<%= 'bloqueado' if @editando %>' style='width: 650px;'>
						<%= c.text_area :conteudo, :disabled => @editando, :style => 'width:550px;', :class => 'tinymce' %>
					</h4>
					
					<%= link_to_function("", "enable_field(this)",:class => 'bt_libera_editar') if @editando %>
				</div>
				<script type="text/javascript">
					/*$("document:ready", function() {
					  $(".tinymce").tinymce({
					    theme: "modern",
					    toolbar: "bold,italic,underline,|,bullist,numlist,outdent,indent,|,undo,redo,|,pastetext,pasteword,selectall,|,uploadimage",
					    pagebreak_separator: "<p class='page-separator'>&nbsp;</p>",
					    plugins: ["uploadimage"],
					    uploadimage_form_url: '/admin/tinymce_assets',
					    relative_urls: false,
					    remove_script_host: false,
					    document_base_url: (!window.location.origin ? window.location.protocol + "//" + window.location.host : window.location.origin) + "/",
					  })
					});*/
				</script>
				<%= tinymce 
				%>
				<div class="item_info_detalhe">
					<h5><%= c.label :status %></h5>
					<h4 style="width: 150px"><%= c.select(:status,[["Ativo","1"],["Inativo","0"]]) %></h4>
					<%= link_to_function("", "enable_field(this)",:class => 'bt_libera_editar') if @editando %>
				</div>
				<div class="item_info_detalhe">
					<h5><%= c.label :noticiacateg %></h5>
					<h4 style="width: 150px"><%= c.select(:noticiacateg_id, Noticiacateg.all.collect {|n| [ n.titulo, n.id]}, {prompt: "Selecione:"}) %></h4>
					<%= link_to_function("", "enable_field(this)",:class => 'bt_libera_editar') if @editando %>
				</div>
				
				
				<!------------------------------------------------------------->
				<div class="item_info_detalhe lista_imagens wrapper_imagem lista_dependentes">
					<%= link_to_function("", "enable_field(this)",:class => 'bt_libera_editar') if c.object.recursos.size > 0 && @editando %>
					<h5>Recursos</h5>
					
						<%= c.fields_for :recursos do |recurso| %>
							<%= render 'recurso_fields', :f => recurso, :novo => false %>
						<% end %>
				</div>
				<div class="item_info_detalhe ">
					<div class="adicionar_imagem nova">
						
					</div>
					<p class="bt_adicionar_nova bt_adicionar_nova_foto"><%= link_to_add_fields "", c, :recursos %></p>	
				</div>
				<!------------------------------------------------------------->
				<div class="item_info_botoes">
					<% if @editando == true %>
						<%= link_to "Limpar alterações", admin_noticias_path,
						:method => 'get',
						:confirm => 'Descartar alterações',
						:data => {:'message' => "Você está prestes a descartas as informações aditadas, tem certeza?"},
						:class => "link_limpar" %>
						<%= c.submit 'Salvar alterações', 
						:confirm => 'Salvando alterações',
						:data => {:'message' => "Você está prestes a alterar as informações aditadas."},
						:class =>'link_salvar link_editando' %>
					<% else %>
						<%= c.submit "Salvar", :class => "link_salvar" %>
					<% end %>
				</div>	
<% end %>
