<style>
			#pagina_erro {
				background: #fdba31;
				padding: 100px 0;
			}
			#pagina_erro > div {
				text-align: center;
				margin: 0 auto;
				width: 1024px;
				border: 11px solid #243942;
				background: #fdba31;
				padding: 35px 0;
			}
			#pagina_erro h2 {
				font: normal 48pt/1.4em "nexa_bold", Times;
				color: #243942;
			}
			#pagina_erro h3 {
				font: normal 24pt/1.4em "nexa_bold", Times;
				color: #243942;
			}
			#pagina_erro .mensagem {
				text-align: left;
				margin: 25px 50px;	
			}
			#pagina_erro .mensagem p {
				font: normal 16pt/1.4em "nexa_bold", Times;
				color: #243942;
			}
			#pagina_erro .mensagem ul {
				margin: 5px 0;
				padding: 0;
			}
			#pagina_erro .mensagem ul  li{
				margin: 0;
				list-style: none;
				font: normal 10pt/1.4em "droid_serif", Times;
				color: #243942;
			}
		</style>
		<script>
			
		</script>
		
		<div id="content">
			<div id="pagina_erro">
				<div>
					<h2>404</h2>
					<h3>A página que você tentou acessar não existe.</h3>
					<div class="mensagem">
						<p>Possíveis motivos:</p>
						<ul>
							<li>a) Esquecemos de criar a página.</li>
							<li>b) Você digitou errado o endereço e sobre isso não temos o que fazer.</li>
							<li>c) Você demorou demais para clicar no link e a página deixou de existir.</li>
							<li>d) Divulgaram um link com endereço errado e, por isso, pedimos desculpas oferecendo algumas opções abaixo para você clicar.</li>
						</ul>
					</div>
				</div>				
			</div>
			<div class="pagina_erro_conteudo">
				<div class="noticias_ultimas">
					<div class="wrapper_ultimas">
						<h3>Últimas adicionadas</h3>
						<div id="items_noticias">
							<% @noticias.each_with_index do |noticia, index| %>
								<div class="ultima_adicionada">
									<h4><%= I18n.l noticia.created_at, :format => :padrao %></h4>
									
									<%= image_tag(noticia.imagem_miniatura.url) %>
									<h5><%= noticia.titulo %></h5>
									<p><%= truncate(noticia.conteudo, :length => 150)%></p>
									<div class="ultimas_leiamais" data-no-turbolink>
										<%= link_to '', noticia_path(noticia), :class => 'link_noticias' %>
									</div>
								</div>
							<% end %>
							
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div id="intervalo4" class="intervalo">
			</div>	