
<div id="trabalho">
	<div class="detalhe_trabalho">
		<div class="detalhe">
			<%= link_to_function 'X', 'esconder_detalhetrabalho(this)', :class => 'fechar_detalhetrabalho'%>
			<%= @trabalho.introducao.html_safe unless @trabalho.introducao.nil? %>
			<!--<div class="fb-post" data-href="https://www.facebook.com/FacebookDevelopers/posts/10151471074398553" 
			data-width="500"></div>-->
		</div>
	</div>
	
	<div class="compartilhar">
		<h3>Gostou?</h3>
		<h4>Compartilhe essa página com seus amigos</h4>
		
		<div class="botoes_amarelos">
			<div class="bt_facebook">
				<%= fb_share('1501616463400377', 
				trabalho_url(@trabalho),
				'',{}) %>
			</div>
            <div class="bt_google">
				<%= google_share(trabalho_url(@trabalho),'') %>
			</div>
             <div class="bt_twitter"> 
				<%= twitter_share(trabalho_url(@trabalho), '') %>
			</div>
		</div>
	</div>
</div>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>