<script type="text/javascript">
$(function () {
	$('.full-info img').pinit();
});
</script>
<style>

</style>
<div id="trabalho">
	<div class="detalhe_trabalho">
		<div class="detalhe">
			<%= link_to_function 'X', 'esconder_detalhetrabalho(this)', :class => 'fechar_detalhetrabalho'%>
			<div class="descricao">
				<div class="intro">
					<h2><%= trab.titulo %></h2>
					<ul id="trabalho_detalhe_menu">
						<li>
							<a href="#intro">Ficha técnica</a>
						</li>
						<li>
							<a href="#info">Descrição</a>
						</li>
					</ul>
					<div id="intro" class="intro-info">
						<% trab.fichatecnicas.each do |ficha| %>
							<p><b><%= ficha.chave %></b> <%= ficha.valor %></p>	
						<% end %>								
					</div>
				</div>
				<div id="info" class="info intro-info">
					<p>
						<%= sanitize(trab.introducao, :tags=>[]) unless !trab.introducao.html_safe  %>
					</p>
				</div>							
			</div>
			<div class="full-info">
				<% trab.imagems.each do |imagem| %>
					<% if imagem.image.file? %>
					<div class="image-info">
						<%= image_tag(imagem.image.url, :alt => imagem.descricao.html_safe) %>
						<p>
							<%= imagem.descricao.html_safe if !imagem.descricao.nil? %>
						</p>
					</div>
					<% end %>
				<% end %>
				
			</div>
		</div>
	</div>
	<div class="compartilhar">
		<h3>Gostou?</h3>
		<h4>Compartilhe essa página com seus amigos</h4>
		
		
              
		
		
		
		
		<div class="botoes_amarelos">
			<div class="bt_facebook">
				<%= fb_share('1501616463400377', 
				trabalho_url(trab),
				'',{}) %>
			</div>
            <div class="bt_google">
				<%= google_share(trabalho_url(trab),'') %>
			</div>
             <div class="bt_twitter"> 
				<%= twitter_share(trabalho_url(trab), '') %>
			</div>
		</div>
	</div>
</div>