<div class="menu_trabalhos">
	<ul>
		<li><%= link_to 'Todos', filtrarmidia_trabalho_path(0), :title => 'Todos', :remote => true %></li></li>
		<li><%= link_to 'Facebook', filtrarmidia_trabalho_path(1), :title => 'Todos', :remote => true %></li></li>
		<li><%= link_to 'Instagram', filtrarmidia_trabalho_path(2), :title => 'Todos', :remote => true %></li></li>
	</ul>
</div>
<div class="corpo_trabalhos">
	<span id="carregando_trabalho" ></span>
	<div id="grid">
		<% @trabalhosmidias.each do |trab| %>
			<%= render 'item_trabalho', :trab =>trab %>
		<% end %>
		
	</div>
	
	<div style="clear:both" class="carregando">
		<input type="hidden" name="nr_trabalhos" value="6" id="nr_trabalhos" data-url='mais_midias' data-categoria='0' />
		<span id="carregando_trabalho" class="carregando_trabalho_novos_trabalhos"></span>
		<p id="flag_trabalhos" style="clear:both; margin-top: 150px;
display: inline-block;"></p>
		
	</div>
	<!--
	<%= form_tag mais_midias_path,:id => 'mais_midias', :method => 'get', :remote => true do %>
			
			<%= hidden_field_tag 'num_midias', '10' %>
			<div id="" class="bt_padrao1 botao_noticias">
				<%= button_tag(type: 'submit') do %>
				<div class="circulo">
					<span></span>
				</div>
				<div class="mensagem">
					<p><%= t 'inicial.noticias.botao' %></p>
				</div>
			<% end %>
			</div>			
		<% end %>
	-->
	<div id="detalhe_modal" style="display:none;"></div>
	<div class="compartilhar">
		<h3>Gostou?</h3>
		<h4>Compartilhe essa página com seus amigos</h4>
		
		<div class="botoes_amarelos">
			<div class="bt_facebook">
				<%= fb_share('1501616463400377', 
				trabalhos_url,
				'',{}) %>
			</div>
            <div class="bt_google">
				<%= google_share(trabalhos_url,'') %>
			</div>
             <div class="bt_twitter"> 
				<%= twitter_share(trabalhos_url, '') %>
			</div>
		</div>
	</div>
</div>
