<div class="menu_trabalhos">
	<ul>
		<li><%= link_to 'Todos', filtrarmidia_trabalho_path(0), :title => 'Todos', :remote => true %></li></li>
		<li><%= link_to 'Facebook', filtrarmidia_trabalho_path(1), :title => 'Todos', :remote => true %></li></li>
		<li><%= link_to 'Instagram', filtrarmidia_trabalho_path(2), :title => 'Todos', :remote => true %></li></li>
	</ul>
</div>
<div class="corpo_trabalhos">
	<div id="grid">
		<% @trabalhosmidias.each do |trab| %>
			<%= render 'item_trabalho', :trab =>trab %>
		<% end %>
	</div>
	<div id="detalhe_modal" style="display:none;"></div>
	<div class="compartilhar">
		<h3>Gostou?</h3>
		<h4>Compartilhe essa página com seus amigos</h4>
		
		<div class="botoes_amarelos">
			<div class="bt_facebook">
				<%= fb_share('1501616463400377', 
				trabalhos_url,
				'',{}) %>
			</div>
            <div class="bt_google">
				<%= google_share(trabalhos_url,'') %>
			</div>
             <div class="bt_twitter"> 
				<%= twitter_share(trabalhos_url, '') %>
			</div>
		</div>
	</div>
</div>
