<div class="lista_noticiacategs">
	
	<div class="itens_cadastrados">
		
		<% @noticiacategorias.each do |categoria| %>
			<div class="item" id="categorianoticia_<%= categoria.id %>">
				<h3><%= categoria.titulo %></h3>
				<%= link_to "", categoria, :remote => true, :confirm => 'Você tem certeza?', :method => :delete, :class => 'link_excluir'%>
				<%= link_to "", edit_noticiacateg_path(categoria), :remote => true, :class => 'link_editar'%>
				
				<div class="item_info" >
					<div class="item_info_detalhe">
						<h5>Título</h5>
						<h4><%= categoria.titulo %></h4>
					</div>
					
					<div class="item_info_detalhe">
						<h5>Descrição</h5>
						<h4><%= categoria.descricao %></h4>
					</div>
					
					<div class="item_info_detalhe">
						<h5>Status</h5>
						<h4><%= (categoria.status == 1 ? "Ativo" : "Inativo") %></h4>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>
	
