<% content_for :header do %>
  <%= javascript_include_tag 'lab' %>  
<% end %>
<script>

//$(document).ready(function() {
//	alert('b');
//});

</script>
<div id="lab">
	<div class="slider">
		<ul id="demo1">
			<%= @sliders.each do |slider| %>
				<li><%= image_tag(slider.imagem.url)%></li>
			<% end %>
		</ul>
	</div>
	<div class="divisor">
		
	</div>
	<div class="wrapper_conteudo">
		<div class="conteudo">
			<div class="part_1">
				<h2>Criatividade para gerar impacto visual.</h2>
				<p>O Lab Proiz reúne profissionais com habilidades e estilos diferentes em áreas criativas como <b>animação</b>, 
					<b>ilustração</b>, <b>character design</b> e <b>motion graphics </b>para oferecer ao mercado editorial e publicitário soluções impactantes.</p>
			</div>
			<div class="part_2" >
				<a href="#" class="orcamento">Solicite um orçamento</a>
				<h3>Entre em contato e conheça nosso portifolio</h3>
				<%= mail_to "lab@proiz.com.br", 'lab@proiz.com.br', subject: "Orçamento Lab Proiz" %>
			</div>
			<p class="profissional">Profissional, faça parte do LabProiz. Envie seu portfólio para
				 <%= mail_to("lab@proiz.com.br", subject: "Portifólio Lab Proiz")  do %>lab@proiz.com.br <% end %> </p>
		</div>
	</div>	
</div>