<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Um email de contato sobre especialidades foi realizados</h4>
    <h5>Abaixo seguem os dados do contato</h5>
     
    <p><b>Nome:</b><%= @dados[:nome] %></p>
    <p><b>Sobrenome:</b><%= @dados[:sobrenome] %></p>
    <p><b>Telefone:</b><%= @dados[:telefone] %></p>
    <p><b>Email:</b><%= @dados[:email] %></p>
    <p><b>Especialidades:</b><%= @dados[:especialidades] %></p>
    
  </body>
</html>