<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta name="format-detection" content="telephone=no">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:svg="http://www.w3.org/2000/svg">
<head>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
  <%= csrf_meta_tags %>
  <%= content_for :header %>
  
  <%= display_meta_tags(default_meta_tags) %>
  
</head>
<script>
</script>
<body class="corpo">
	
	
	
<div id="container_carregando" class="wrapper_carregando">
<span></span>
	<div id="carregando">
		<span></span>
	</div>
</div>
<div id="esconde">
			
</div>
<div id="header">
	<span></span>
	<div id="logo" data-no-turbolink>
		<%= link_to image_tag('logo_proiz.png'), root_path %>
	</div>
	<div id="menu">
		<ul>
			<li><%= link_to t('menu.sobre'), sobre_path, :data => { :'hover' => t('menu.sobre') }, :remote => true  %></li>
			<li><%= link_to t('menu.especialidades'), especialidades_path, :data => { :'hover' => t('menu.especialidades') },:remote => true  %></li>
			<li><%= link_to t('menu.trabalhos'), trabalhos_path, :data => { :'hover' => t('menu.trabalhos') } ,:remote => true %></li>
			<li><%= link_to t('menu.noticias'), noticias_path, :data => { :'hover' => t('menu.noticias') } ,:remote => true %></li>
			<li><%= link_to t('menu.contato'), contato_path, :data => { :'hover' => t('menu.contato') },:remote => true %></li>
		</ul>
		
	</div>
	<a href="#" id="pull"></a>
	<div id="redes">
		<%= link_to '', 'https://www.facebook.com/agenciaproiz', :target => "_blank", :class => 'facebook' %>
		<%= link_to '', 'https://www.youtube.com/user/ProizAgencia', :target => "_blank", :class => 'twitter' %>
		<%= link_to '', 'https://plus.google.com/117481572153276759686/posts', :target => "_blank", :class => 'google' %>
	</div>
	<div id="idiomas" data-no-turbolink>
		<%= link_to 'PT', define_idioma_portugues_path, :class => I18n.locale == :'pt-BR' ? 'idioma_ativo' : '' %>
		<%= link_to 'EN', define_idioma_ingles_path, :class => I18n.locale == :en ? 'idioma_ativo' : '' %>		
	</div>
</div>


	
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>
<div id="content">
	<%= yield %>
</div>

<div id="home_rodape">
	<div class="midias_sociais">
        <div class="mensagem" style="opacity: 1">
            <h4><%= t 'inicial.newsletter.titulo' %></h4>
            <p><%= t 'inicial.newsletter.subtitulo' %></p>
        </div>
        
        <div class="midias_sociais_botoes">
        	<%= fb_share('1501616463400377', 
				root_url,
				'facebook_padrao_2',{}) %>
	        <%= google_share(root_url,'google_padrao_2') %>
	        <%= twitter_share(root_url,'twitter_padrao_2') %>
        </div>
	</div>
    <style>
		.newsletter form {
			height: 39px;	
		}
	</style>
	<div class="newsletter" id="newsletter">
		<h4><%= t 'inicial.newsletter.placeholder' %></h4>
		
        <form action="#" id="form_newsletter">
			<input type="text" placeholder="" value="" size="30" />
			<div class="bt_enviar">
				<input type="submit" value="Cadastrar" />
			</div>
		</form>
	</div>
	<div class="rodape">
		<div class="mensagem_wrapper">
			<div class="mensagem">
				<%= image_tag('logo_proiz_branco.png')%>
				<p><%= t 'inicial.rodape.mensagem' %></p>
			</div>
		</div>
		<div class="endereco">
			<h3>+55 (45) 3378-3676</h3>
			<h5>Rua Guarani, 2216.</h5>
			<h5>Jardim La Salle.</h5>
			<h5>Toledo - Paraná</h5>
		</div>
		
	</div>
	<footer>
		<ul id="menu_inferior">
			<li><a href="#contato">Contato</a></li>
			<li><a href="#carreiras">Carreiras</a></li>
			<li><a href="#Lab proiz">Lab</a></li>			
		</ul>
		<p><%= t 'inicial.rodape.copyright' %></p>
	</footer>
</div>
<script type='text/javascript'>
	//QueryLoader.selectorPreload = "#container_carregando";
	//QueryLoader.init();
	$(document).ready(function () {
	   $("body").queryLoader2({
	        barColor: "transparent",
	        backgroundColor: "transparent",
	        percentage: true,
	        //barHeight: 30,
	        //completeAnimation: "grow"
	    });
	});
	//window.load = function(){ 
	//	console.log('novo método de loading');
	//    var loader = document.getElementById('container_carregando');
	//    loader.style.display = 'none';
	//}
	
</script>
<div id="fb-root"></div>
<script>
//FAcebook
/*(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1501616463400377&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
*/

//Google +
window.___gcfg = {
lang: 'pt-BR'
  };

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
po.src = 'https://apis.google.com/js/plusone.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
  
//Twitter
!function(d,s,id){
	var js,fjs=d.getElementsByTagName(s)[0];
	if(!d.getElementById(id)){js=d.createElement(s);
		js.id=id;js.src="https://platform.twitter.com/widgets.js";
		fjs.parentNode.insertBefore(js,fjs);
	}
}(document,"script","twitter-wjs");
  
</script>
</body>
</html>
