<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta name="format-detection" content="telephone=no">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:svg="http://www.w3.org/2000/svg" xml:lang="pt-br" lang="pt">
<%= favicon_link_tag 'favicon.ico' %>
<head>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
  
  <%= csrf_meta_tags %>
  <%= content_for :header %>
  
  <%= display_meta_tags(default_meta_tags) %>
  <meta name="google-site-verification" content="roKCarNumjLhJa2UDOaVIg87y-lFpIh4ao2AajtyvzI" />
  
  <!-- Adiciona o script do chat online, porem nao adiciona na tela do contato  -->
  <% if params[:controller] != 'contato' %>
  	<!--Start of Zopim Live Chat Script-->
	<script type="text/javascript">
	window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
	d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
	_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
	$.src='//v2.zopim.com/?2RZyBmALqyqXlnXPXEw5r7pd525GUzFB';z.t=+new Date;$.
	type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
	</script>
	<!--End of Zopim Live Chat Script-->
  <% end%>
  <!-- Fim do script do chat online. -->
  
</head>
<script>
</script>
<body class="corpo">
<div id="container_carregando" class="wrapper_carregando">
<span></span>
	<div id="carregando">
		<p><span></span></p>
	</div>
</div>
<div id="esconde">
			
</div>
<div id="header">
	<span></span>
	<div id="logo" data-no-turbolink>
		<%= link_to image_tag('logo_proiz.png'), root_path %>
	</div>
	<div id="menu">
		<ul>
			<li><%= link_to t('menu.sobre'), sobre_path, :data => { :'hover' => t('menu.sobre') }, :remote => true  %></li>
			<li><%= link_to t('menu.especialidades'), especialidades_path, :data => { :'hover' => t('menu.especialidades') },:remote => true  %></li>
			<li><%= link_to t('menu.trabalhos'), trabalhos_path, :data => { :'hover' => t('menu.trabalhos') } ,:remote => true %></li>
			<li><%= link_to t('menu.noticias'), noticias_path, :data => { :'hover' => t('menu.noticias') } ,:remote => true %></li>
			<li><%= link_to t('menu.contato'), contato_path, :data => { :'hover' => t('menu.contato') },:remote => true %></li>
		</ul>
		
	</div>
	<a href="#" id="pull"></a>
	<div id="redes">
		<%= link_to '', 'https://www.facebook.com/agenciaproiz', :target => "_blank", :class => 'facebook' %>
		<%= link_to '', 'https://www.youtube.com/user/ProizAgencia', :target => "_blank", :class => 'twitter' %>
		<%= link_to '', 'https://www.linkedin.com/company/proiz', :target => "_blank", :class => 'linkedin' %>
	</div>
	<div id="idiomas" data-no-turbolink>
		<%= link_to 'PT', define_idioma_portugues_path, :class => I18n.locale == :'pt-BR' ? 'idioma_ativo' : '' %>
		<%= link_to 'EN', define_idioma_ingles_path, :class => I18n.locale == :en ? 'idioma_ativo' : '' %>		
	</div>
</div>


	
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>
<div id="content">
	<%= yield %>
</div>

<div id="home_rodape">
	<div class="midias_sociais">
        <div class="mensagem" style="opacity: 1">
            <h4><%= t 'inicial.newsletter.titulo' %></h4>
            <p><%= t 'inicial.newsletter.subtitulo' %></p>
        </div>
        
        <div class="midias_sociais_botoes">
        	<%= link_to '', 'https://www.facebook.com/agenciaproiz', :target => "_blank", :class => 'facebook_padrao_2' %>
			<%= link_to '', 'https://www.youtube.com/user/ProizAgencia', :target => "_blank", :class => 'youtube_padrao_2' %>
			<%= link_to '', 'https://www.linkedin.com/company/proiz', :target => "_blank", :class => 'linkedin_padrao_2 linkedin_padrao_2' %>
        </div>
	</div>
    <style>
		.newsletter form {
			height: 39px;	
		}
	</style>
	<div class="newsletter" id="newsletter">
		<h4><%= t 'inicial.newsletter.placeholder' %></h4>
		
		<%= form_tag({controller: 'newsletter', action: 'subscribe'}, :id => 'form_newsletter',
			method: "get", :remote => true) do %>
			<%= text_field(:newsletter,:email)%>
			<div class="bt_enviar">
				<%= submit_tag('Cadastrar') %>
			</div>
		<% end %>
       <!-- <form action="#" id="form_newsletter">
			<input type="text" placeholder="" value="" size="30" />
			<div class="bt_enviar">
				<input type="submit" value="Cadastrar" />
			</div>
		</form>
	-->
	</div>
	<div class="rodape">
		<div class="mensagem_wrapper">
			<div class="mensagem">
				<%= image_tag('logo_proiz_branco.png')%>
				<p><%= t 'inicial.rodape.mensagem' %></p>
			</div>
		</div>
		
		<div class="endereco">
			<h3><%= t 'inicial.rodape.cidade' %></h3>
			<h5><%= t 'inicial.rodape.logradouro' %></h5>
			<h5><%= t 'inicial.rodape.bairro' %></h5>
			<h3><%= t 'inicial.rodape.telefone' %></h3>
		</div>
		<div class="endereco">
			<h3>Curitiba, PR</h3>
			<h5>Rua Marechal Deodoro, 262</h5>
			<h5>1º andar, Centro</h5>
			<h3>+55 (41) 3018-6003</h3>
		</div>

	</div>
	<footer>
		<ul id="menu_inferior">
			<li><%= link_to t('menu_rodape.contato'),contato_path %></li>
			<li><%= link_to t('menu_rodape.oportunidades'),contato_path %></li>
			<li><%= link_to t('menu_rodape.lab'),lab_path %></li>			
		</ul>
		<p><%= t 'inicial.rodape.copyright' %></p>
	</footer>
</div>
<script type='text/javascript'>
	//QueryLoader.selectorPreload = "#container_carregando";
	//QueryLoader.init();
	$(document).ready(function () {
	   /*$("body").queryLoader2({
	        barColor: "transparent",
	        backgroundColor: "transparent",
	        percentage: true
	    });*/
	});
	//window.load = function(){ 
	//	console.log('novo método de loading');
	//    var loader = document.getElementById('container_carregando');
	//    loader.style.display = 'none';
	//}
	
</script>
<div id="fb-root"></div>
<script>
//FAcebook
/*(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1501616463400377&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
*/

//Google +
window.___gcfg = {
lang: 'pt-BR'
  };

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
po.src = 'https://apis.google.com/js/plusone.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
  
//Twitter
!function(d,s,id){
	var js,fjs=d.getElementsByTagName(s)[0];
	if(!d.getElementById(id)){js=d.createElement(s);
		js.id=id;js.src="https://platform.twitter.com/widgets.js";
		fjs.parentNode.insertBefore(js,fjs);
	}
}(document,"script","twitter-wjs");
  
  
//Gooogle analytics

(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-53040348-1', 'auto');
  ga('send', 'pageview');

// Código do Google para tag de remarketing 

/* <![CDATA[ */
var google_conversion_id = 998264969;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */

</script>

<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>

<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/998264969/?value=0&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
</body>
</html>
