<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>Proiz - Administrativo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "administrativo", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>
<body>
	<div class="wrapper">
	<% if current_user %>
		<div id="painel_administrativo">
			<div class="wrapper_itens">
				<div class="titulo_gerenciador">
					<a href="#"><%= image_tag "logo_proiz.png" %></a>
					<p>Gerenciador de conteúdo</p>
				</div>
				<div class="empresa_titulo">
					<h5>Site</h5>
					<h3>Empresa Nome LTDA</h3>	
				</div>
				<div class="dados_conta">
					<a class="hover_highlight" href="#"><h2>Dados da conta</h2></a>
				</div>
				<div id="idiomas" data-no-turbolink>
					<%= link_to 'PT', define_idioma_portugues_path, :class => I18n.locale == :'pt-BR' ? 'idioma_ativo' : '' %>
					<%= link_to 'EN', define_idioma_ingles_path, :class => I18n.locale == :en ? 'idioma_ativo' : '' %>		
				</div>
				<div class="sair">	
			    	<p><%= current_user.email %></p>
				    <%= link_to "Sair", admin_log_out_path, :class => 'hover_highlight' %>
			  	</div>
			</div>
		</div>
		<div id="wrapper_admin">
			<div class="areas_site">
				<h1>
					Áreas do site
				</h1>	
				<div class="botoes">
					<h4>
						<%= link_to "Administração do site", paginas_path %>
					</h4>
					<h4>
						<%= link_to "Dados gerais do site", paginas_path %>
					</h4>
					<h4>
						<%= link_to "Banco de dados", painel_index_path %>
					</h4>
				</div>
			</div>
		</div>
		<% end %>
		
		<% flash.each do |name, msg| %>
		  <%= content_tag :div, msg, :id => "flash_#{name}" %>
		<% end %>
		
		<div id="wrapper_admin" class="menu_admin">
			<% if current_user %>
				<div class="lista_paginas">
					<ul class="item">
						<%= render_navigation %>
						<br/></br/>
					</ul>		
				</div>
			<% end %>
			<div class="detalhe_pagina" id="detalhe_tabela">
				<%= yield %>
			</div>
		</div>
		
		
		
	</div>
	<div id="footer">
			<p>Todos os direitos reservados - Proiz comunicação integrada EIRELI ME</p>
			<div class="footer_canais">
				<div class="wrapper_canais">
					<h3>Canais de atendimento Proiz</h3>
					<h4>(45) 3378-3676</h4>
					<h4><%= link_to "skype: atendimento.proiz", 'skype: atendimento.proiz?add'%></h4>
					<h4><%= mail_to "atendimento@proiz.com.br", "Email - Proiz" %></h4>
				</div>	
			</div>
			
		</div>
</body>
</html>
